.areaMain {
    background-color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  
}
.apresentacao {
    align-items: center;
    margin-left: 7rem;

}

.imgMain {
  
}

.imgMain img {
    justify-content: center;
    align-items: center;
    
    height: 400px;
    width: 400px;
    margin-left: 9rem;

}
h3 {
    font-size: 2rem;
    font-weight: 900;
    text-align: start;

}
span {
    color: rgb(243, 32, 32);
    font-size: 3rem;
    
}
button {
    border: none;
    padding: .9rem;
    background-color:  rgb(243, 32, 32);
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    transition: 1.3s;
    font-weight: 900;
    text-align: center;
    margin-top: 1rem;
    align-items: flex-start;
    float: left;
 
}

button:hover {
    background-color: #f4f4f4;
    color: rgb(243, 32, 32);
    cursor: pointer;
}